<div class="inbox-compose form-horizontal">
	<div class="inbox-compose-btn">
		<button class="btn blue" ng-click="save()"><i class="fa fa-check"></i>Send</button>
		<button class="btn inbox-discard-btn" onclick="$('#message_compose').toggleClass('hidden')">Discard</button>
		<button class="btn" ng-click="goTo('/message/draft')">Draft</button>
	</div>
<div class="inbox-form-group mail-to">
		<label class="control-label">To:</label>
		<div class="controls controls-to">
			<input type="text" class="form-control" name="to" ng-model="message.to">
			<span class="inbox-cc-bcc">
			<span class="inbox-cc">
			Cc </span>
			<span class="inbox-bcc">
			Bcc </span>
			</span>
		</div>
	</div>
	<div class="inbox-form-group input-cc display-hide">
		<a href="javascript:;" class="close">
		</a>
		<label class="control-label">Cc:</label>
		<div class="controls controls-cc">
			<input type="text" name="cc" class="form-control" ng-model="message.cc">
		</div>
	</div>
	<div class="inbox-form-group input-bcc display-hide">
		<a href="javascript:;" class="close">
		</a>
		<label class="control-label">Bcc:</label>
		<div class="controls controls-bcc">
			<input type="text" name="bcc" class="form-control" ng-model="message.bcc">
		</div>
	</div>
	<div class="inbox-form-group">
		<label class="control-label">Subject:</label>
		<div class="controls">
			<input type="text" class="form-control" name="subject" ng-model="message.subject">
		</div>
	</div>
<div class="inbox-form-group">
<textarea id="compose_email" name="body"></textarea>
</div>
	<div class="inbox-compose-btn">
		<button class="btn blue" ng-click="save()"><i class="fa fa-check"></i>Send</button>
		<button class="btn"  onclick="$('#message_compose').toggleClass('hidden')">Discard</button>
		<button class="btn" ng-click="goTo('/message/draft')">Draft</button>
	</div>
</div>


<script>
$(document).ready(function(){
     $('#compose_email').summernote({height: 400, id: 'compose_email', name: 'body'});
});
</script>
